<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOltdLCJkaXNwbGF5TmFtZSI6IlN3aWZ0IFN0dWRl
		bnQgQ2hhbGxlbmdlIDI0IiwicGFja2FnZUtpbmQiOnsicm9vdCI6e319LCJw
		bGF0Zm9ybXMiOlt7Im9wdGlvbnMiOltdLCJwbGF0Zm9ybU5hbWUiOiJpb3Mi
		LCJ2ZXJzaW9uIjoiMTcuMiJ9XSwicHJvZHVjdHMiOlt7Im5hbWUiOiJTd2lm
		dCBTdHVkZW50IENoYWxsZW5nZSAyNCIsInNldHRpbmdzIjpbeyJidW5kbGVJ
		ZGVudGlmaWVyIjpbInd3ZGNzc2MuY29tIl19LHsidGVhbUlkZW50aWZpZXIi
		OlsiWDYyMlNYNkQ1NyJdfSx7ImRpc3BsYXlWZXJzaW9uIjpbIjEuMCJdfSx7
		ImJ1bmRsZVZlcnNpb24iOlsiMSJdfSx7ImlPU0FwcEluZm8iOlt7ImFjY2Vu
		dENvbG9yIjp7InByZXNldENvbG9yIjp7InByZXNldENvbG9yIjp7InJhd1Zh
		bHVlIjoieWVsbG93In19fSwiYXBwSWNvbiI6eyJhc3NldCI6eyJuYW1lIjoi
		QXBwSWNvbiJ9fSwiY2FwYWJpbGl0aWVzIjpbeyJmaWxlQWNjZXNzTG9jYXRp
		b24iOiJwaWN0dXJlRm9sZGVyIiwiZmlsZUFjY2Vzc01vZGUiOiJyZWFkV3Jp
		dGUiLCJwdXJwb3NlIjoiZmlsZUFjY2VzcyJ9LHsicHVycG9zZSI6InBob3Rv
		TGlicmFyeSIsInB1cnBvc2VTdHJpbmciOiJcIkVuYWJsZSBTYXZpbmcgRHJh
		d2luZ3MgdG8gUGhvdG8gTGlicmFyeVwiICJ9LHsicHVycG9zZSI6InBob3Rv
		TGlicmFyeUFkZCIsInB1cnBvc2VTdHJpbmciOiJcIkVuYWJsZSBTYXZpbmcg
		RHJhd2luZ3MgdG8gUGhvdG8gTGlicmFyeVwiICJ9LHsicHVycG9zZSI6Im1p
		Y3JvcGhvbmUiLCJwdXJwb3NlU3RyaW5nIjoiXCJFbmFibGUgU3BlZWNoIFJl
		Y29nbml0aW9uXCIgIn0seyJwdXJwb3NlIjoic3BlZWNoUmVjb2duaXRpb24i
		LCJwdXJwb3NlU3RyaW5nIjoiXCJFbmFibGUgU3BlZWNoIFJlY29nbml0aW9u
		XCIifV0sInN1cHBvcnRlZERldmljZUZhbWlsaWVzIjpbInBhZCIsInBob25l
		Il0sInN1cHBvcnRlZEludGVyZmFjZU9yaWVudGF0aW9ucyI6W3sicG9ydHJh
		aXQiOnt9fSx7ImxhbmRzY2FwZVJpZ2h0Ijp7fX0seyJsYW5kc2NhcGVMZWZ0
		Ijp7fX0seyJwb3J0cmFpdFVwc2lkZURvd24iOnsiY29uZGl0aW9uIjp7ImRl
		dmljZUZhbWlsaWVzIjpbInBhZCJdfX19XX1dfV0sInRhcmdldHMiOlsiQXBw
		TW9kdWxlIl0sInR5cGUiOnsiZXhlY3V0YWJsZSI6bnVsbH19XSwidGFyZ2V0
		TWFwIjp7IkFwcE1vZHVsZSI6eyJkZXBlbmRlbmNpZXMiOltdLCJleGNsdWRl
		IjpbXSwibmFtZSI6IkFwcE1vZHVsZSIsInBhY2thZ2VBY2Nlc3MiOnRydWUs
		InBhdGgiOiIuIiwicmVzb3VyY2VzIjpbXSwic2V0dGluZ3MiOlt7ImtpbmQi
		OnsiZW5hYmxlVXBjb21pbmdGZWF0dXJlIjp7Il8wIjoiQmFyZVNsYXNoUmVn
		ZXhMaXRlcmFscyJ9fSwidG9vbCI6InN3aWZ0In1dLCJ0eXBlIjoiZXhlY3V0
		YWJsZSJ9fSwidGFyZ2V0cyI6W3siZGVwZW5kZW5jaWVzIjpbXSwiZXhjbHVk
		ZSI6W10sIm5hbWUiOiJBcHBNb2R1bGUiLCJwYWNrYWdlQWNjZXNzIjp0cnVl
		LCJwYXRoIjoiLiIsInJlc291cmNlcyI6W10sInNldHRpbmdzIjpbeyJraW5k
		Ijp7ImVuYWJsZVVwY29taW5nRmVhdHVyZSI6eyJfMCI6IkJhcmVTbGFzaFJl
		Z2V4TGl0ZXJhbHMifX0sInRvb2wiOiJzd2lmdCJ9XSwidHlwZSI6ImV4ZWN1
		dGFibGUifV0sInRvb2xzVmVyc2lvbiI6eyJfdmVyc2lvbiI6IjUuOS4wIn19
		</data>
		<key>manifestHash</key>
		<data>
		nrZspXwdpiD3Jujzys0OhlE4OEoVP3W1tG3bEl3qja0=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.9.0</string>
	</dict>
</dict>
</plist>
